* {
  font-family: monospace;
}
body {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #009578;
  font-family: monospace;
  font-size: 2vh;
  text-align: left;
}

th {
  background: #009578;
  color: #ffffff;
}

th,
td {
  padding: 10px 10px;
}

tr:nth-child(even) {
  background: #eeeeee;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
  font-size: large;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

#filter {
  height: 6vh;
}

#filter input {
  margin: 2.5vh;
}
